body {
    margin: 0;
    background-color: #6B8D8D;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

.conteudo {
    flex: 1;
}

.navnavpapi {
    height: auto!important;
}

.container-1 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background: #6B8D8D;
    border-radius: 10px;
    padding: 0;
}

.container-l {
    width: 60%;
    height: 80vh;
    border-radius: 15px;
    background-color: #183442e8;
    margin: 10px;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.container-l-top{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid 1px white; */
}

.container-l-top label {
    font-size: 30px;
    color: white;
   
}

.container-l-mid {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-l {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.top-l {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 90%;
}

.input-grande {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.input-grande input {
    width: 100%;
    border-radius: 8px;
    border: 0;
    outline: none;
}

.inputs-pequeno {
    height: 25%;
    display: flex;
}

.input1-pequeno {
    margin-left: 10%;
}
.input-pequeno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 50%;
}

.input-pequeno input {
    width: 100%;
    border-radius: 8px;
    border: 0;
    outline: none;
    
}
.container-l input {
    font-size: 2.2vh;
}
.container-r {
    width: 40%;
    height: 80vh;
    margin: 10px;
    background-color: #183442e8;
    border-radius: 15px;
    padding-right: 2.5%;
    padding-left: 2.5%;
   
}
.container-top {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px white;
}
.container-top label {
    font-size: 30px;
    color: white;
}


.container-mid {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.mid-top {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.mid-top-top {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.mid-top-top h4 {
    text-align: center;
}

.mid-top-bot {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
}

.mid-bot {
    height: 60%;
}

.mid-bot-top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.mid-bot-top label {
    height: 20%;
}

.forma-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagamentos {
    display: flex;
    flex-direction: column;
}

.forma-pagamento h4 {
    margin: 0;
    width: 70%;
   
}

.forma-pagamento input {
    margin: 10px;
    width: 10%;
}

.mid-bot-bot {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-bottom: solid 1px white;
}

.mid-bot-bot h4 {
    text-align: center;
}

.container-bot {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-bot button {
    height: 50px;
    width: 60%;
    border-radius: 12px;
    border: 0;
    background-color: #c4c4c4;
    color: black;
    margin: 5px;
}

.container-bot a {
    color: white;
    text-decoration: underline;
    margin: 5px;
}

.imgs-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 16px;
    background-color: #E2781C
}

footer #senai {
    height: 15px;
    width: 97px;
    margin-right: 5%;
}

footer #avanti {
    height: 14px;
    width: 75px;
    margin-left: 5%;
}

#senai, #avanti {
    cursor: pointer;
}

.iconeAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeAdmin i {
    color: white;
}

.redesSociais i {
    color: white;
}

::placeholder{
    text-align: center;
    opacity: 0.5;
}

.container-l-mid li {
    display: flex;
    justify-content: flex-end;
    height: 5%;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: red;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

@media screen and (max-width:1024px) {
    .container-1 {

        width: 100%;
    }

    .container-top label {
        font-size: 3vw;
    }
    .container-bot button {
        font-size: 1.7vw;
    }

    .forma-pagamento h4 {
        font-size: 2.3vw;
    }
}

@media screen and (max-width:700px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .container-r{
        width: 95%;
    }

    .container-r label {
        font-size: 3.3vw;
    }

    .container-l {
        width: 95%;
    }

    .container-top label {
        font-size: 6vw;
    }

    .container-bot button {
        font-size: 3.8vw;
    }

    .forma-pagamento h4 {
        font-size: 5vw;
    }

    .container-bot a {
        font-size: 3.2vw;
    }
    
}

@media screen and (max-width:425px) {
    .container-l-top label {
        font-size: 7vw;
    }

    .container-l label {
        font-size: 4vw;
    }
}


@media screen and (max-width:280px) {

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .iconeAdmin {
        margin-bottom: 5px;
    }

    footer .imgs-footer {
        margin-bottom: 5px;
    }
}