

@font-face {
    font-family: 'Viga Regular';
    src: url('../Fonts/Viga-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nasalization';
    src: url('../fonts/nasalization-rg.otf') format('truetype');
}

@font-face {
    font-family: 'Designer';
    src: url('../fonts/DESIGNER.otf') format('truetype');
}

.designer{
    font-family: 'Designer'; 
}

.nasalization{
    font-family: 'Nasalization';
}


/* Configurações icone de home */

.icone-home{
    position: sticky;
    top: 0;
    height: 70px; 
    width: 70px;
    margin-top: 1%;
    margin-left: 1%;
    z-index: 1;
}
