
.navnavpapi{
    position: sticky;
    top: 0;
}

.espaçamento-nav{
    margin-left: 8px;
}

.marca{
    display: flex;
    font-size: 400%; 
    align-items: center;
    height: 100%;
}

.navbar{
    height: 40px;
}

body{
    background-color: #6B8D8D;
}

@media screen and (max-width:992px){

    .espaçamento-nav{
        margin-left: 0;
    }

    .navbar{
        height: 100%;
    }
    
}