body {
    background-color: #6B8D8D;
}
section{
    height: 100%;
}



/*carousel brabo*/

.carousel {
    display: flex!important;
    justify-content: center!important;
}

.carousel-inner {
    width: 85%!important;
    margin-top: 25px!important;
}



/*carousel brabo*/

.carousel {
    display: flex!important;
    justify-content: center!important;
}

.carousel-inner {
    width: 85%!important;
    margin-top: 25px!important;
}

.carousel-item img {
    height: 35vw;
}

.carousel-control-next-icon {
    margin-left: 70%;
}

.carousel-control-prev-icon {
    margin-right: 70%;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.carousel-item img {
    height: 35vw;
}

.carousel-control-next-icon {
    margin-left: 70%;
}

.carousel-control-prev-icon {
    margin-right: 70%;
}
.carousel-indicators{
    z-index: 0
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
}

/*BANNER*/

.banner {
    display: block;
    justify-content: center;
    width: 95%;
    height: 25vw;
    margin: auto;
    margin-top: 30px;
    background:white;
    padding: 0;
   
}
.fotos{
    display: flex;
    justify-content: center
}

.fotos div{
    display: block;
    justify-content: center;
    width: 46.8%;
    height: 25vw;
    
    margin-top: 30px;
    background:white;
    padding: 0;
    margin-right: 10px;
}

.fotos div h2{
    color: brown;
    text-align: center;
}

.fotos div img{
    height: 252px;
    width: 207px;
}


footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 16px;
    background-color: #E2781C;
}

@media screen and (max-width:600px){
    .carousel-inner{
        width: 100%!important;
    }
    .banner{
        height: 35vw;
        width: 90%;
    }
    .fotos{
        flex-direction: column;
        align-items: center;
    }
    .foto-1{
        width: 90%!important;
        height: 45vw;
        margin-right: 0;
        
        
    }
    .foto-2{
        width: 90%!important;
        height: 45vw;
        margin-left: 0; 
    }

    .carousel-indicators{
        margin-bottom: 1%!important;
    }
    /* footer{
        position: absolute;
        bottom: 0;
         
    } */
    
}

@media screen and (max-width:1024px) {
   
    .carousel-item img{
        height: 100%!important;
    }

}
