/* configuração das navbars */


/*navbar ciano*/

.nav-cian {
    background-color: #183442;
    height: 35%;
}

.marca {
    display: flex;
    font-size: 65px;
    align-items: center;
    height: 110px;
}

.btn-log {
    background-color: #183442;
    border: #183442;
    font-size: 25px;
}


/*navbar laranja*/

.espaçamento-nav {
    margin-left: 8px;
}

.navnavpapi {
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 2;
}
