body {
    margin: 0;
    background-image: url(../img/paisagem.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #132839;
}

.icone-home {
    height: 60px; 
    width: 60px;
    margin-top: 1%;
    margin-left: 1%;
}

.container {
    display: block;
    justify-content: center;
    width: 30vw;
    height: 100%;
    margin: auto;
    margin-top: 3%;
    background: #166E6F;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0;
}

.container-top {
    width: 100%;
    height: 15%;
    background: rgba(24, 52, 66, 0.29);
    border-radius: 30px 30px 0px 0px;
}

.container-mid {
    height: 70%;
}

.container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background: rgba(24, 52, 66, 0.29);
    border-radius: 0px 0px 30px 30px;
}

.container-top p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 7vh;
    /* identical to box height */
    color: #FFFFFF;
}

.container-bottom button {
    display: block;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0;
    padding: 3px 45px;
    background-color: #C4C4C4;
    color: white;
    font-size: 3vh;
}

.container-mid .nomeinput {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.container-mid input {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    margin-top: 5px;
    outline: none;
    font-size: 3vh;
    border-radius: 8px;
    border: 0;
}

.container-mid label {
    margin-left: 5%;
    color: white;
    margin-top: 5%;
}

.container-mid .nomelink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    padding-top: 10px;
}

.container-mid a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    cursor: pointer;
}

::placeholder {
    opacity: 0.5;
    font-family: arial;
    font-style: italic;
    font-size: 16px;
    padding-left: 5px;
}

@media screen and (max-width:1440px) {
    .container {
        height: 100%;
        margin-bottom: 5%;
    }
    .container-top {
        height: 10vh;
    }
    .container-top p {
        font-size: 6vh;
    }
    .container-bottom {
        height: 13%;
    }
    .container-bottom button {
        font-size: 3vh;
    }
    .container-mid a{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .container-bottom button{
        margin: 10px;
    }
}

@media screen and (width:1024px) {
    .container {
        width: 85%;
        height: 80vh;
        margin-top: 56%;
        margin-bottom: 7%;
    }
    .container-top {
        height: 15%;
    }
    .container-top p {
        font-size: 7vh;
    }
    .container-mid .nomelink {
        padding-top: 150px;
    }
    .container-mid .nomelink a {
        font-size: 38px;
    }
    .container-mid input {
        height: 5vh;
        border-radius: 20px;
    }
    .container-mid label {
        padding-top: 30px;
        font-size: 34px;
    }
    .container-mid ::placeholder {
        font-size: 30px;
    }
    .container-bottom {
        height: 15%;
    }
    .container-bottom button {
        width: 25vh;
        border-radius: 18px;
        font-size: 3vh;
    }
}

@media screen and (width:768px) {
    .container {
        width: 85%;
        height: 80vh;
        margin-top: 55%;
        margin-bottom: 7%;
    }
    .container-top {
        height: 15%;
    }
    .container-bottom {
        height: 15%;
    }
    .container-bottom button {
        width: 25vh;
        border-radius: 18px;
    }
    .container-mid input {
        height: 5vh;
        border-radius: 20px;
    }
    .container-mid ::placeholder {
        font-size: 25px;
    }
    .container-mid label {
        font-size: 3vh;
    }
    .container-mid .nomelink {
        padding-top: 120px;
    }
}

@media screen and (max-width:540px) {
    .container {
        width: 85%;
        height: 65vh;
        margin-top: 51%;
        margin-bottom: 5%;
    }
    .container-top {
        height: 10vh;
    }
    .container-mid label {
        font-size: 16px;
    }
    .container-mid .nomelink a {
        font-size: 18px;
    }
    .container-mid .nomelink {
        padding-top: 60px;
    }
    .container-mid input {
        height: 4vh;
    }
    .container-bottom {
        height: 15%;
    }
    .container-bottom button {
        font-size: 18px;
    }
}

@media screen and (max-width:414px) {
    .container-top p {
        font-size: 6vh;
    }
    .container-mid label {
        font-size: 16px;
    }
    .container-mid .nomeinput {
        padding-top: 25px;
    }
    .container-mid .nomelink {
        padding-top: 70px;
    }
    .container-mid .nomelink a {
        font-size: 18px;
    }
    .container-bottom button {
        font-size: 18px;
    }
    .container-mid ::placeholder {
        font-size: 15px;
    }
}

@media screen and (max-width:411px) {
    .container-top p {
        font-size: 6vh;
    }
    .container-mid label {
        font-size: 16px;
    }
    .container-mid .nomeinput {
        padding-top: 25px;
    }
    .container-mid .nomelink {
        padding-top: 60px;
    }
    .container-mid .nomelink a {
        font-size: 18px;
    }
    .container-bottom button {
        font-size: 18px;
    }
    .container-mid ::placeholder {
        font-size: 15px;
    }
}

@media screen and (max-width:375px) {
    .container-top p {
        font-size: 6vh;
    }
    .container-mid ::placeholder {
        font-size: 15px;
    }
    .container-mid label {
        font-size: 16px;
    }
    .container-mid .nomeinput {
        padding-top: 25px;
    }
    .container-mid .nomelink a {
        font-size: 18px;
    }
    .container-bottom button {
        width: 160px;
        font-size: 17px;
    }
}

@media screen and (max-width:320px) {
    .container-mid label {
        font-size: 2vh;
    }
    .container-mid .nomeinput {
        padding-top: 16px;
    }
    .container-mid .nomelink {
        padding-top: 40px;
    }
    .container-mid .nomelink a {
        font-size: 14px;
    }
    .container-bottom button {
        font-size: 14px;
    }
}

@media screen and (max-width:280px) {
    .container {
        margin-top: 53%;
        margin-bottom: 7%;
    }
    .container-mid ::placeholder {
        font-size: 12px;
    }
    .container-mid label {
        font-size: 2vh;
    }
    .container-mid .nomeinput {
        padding-top: 16px;
    }
    .container-mid .nomelink {
        padding-top: 60px;
    }
    .container-mid .nomelink a {
        font-size: 14px;
    }
    .container-bottom button {
        font-size: 14px;
    }
}

.bg-dark {
    background-color: #183442!important;
}